@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

.whole-flex{
    display: flex;
}
.hover:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 14px 18px 14px 18px;
    max-width: 130px;
    margin: 0 auto;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
#grey-text{
    color: rgb(114,114,114);
}
#orange-text{
    color: rgb(255, 144, 14);
}
/* Call all of your banners  */

.navbar{
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.navbar h3{
    font-size: 3rem;
}
.navbar-list{
    list-style: none;
    margin-left: 30px;
}
.navbar-list a{
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(66, 66, 66);
}
.banner{
    max-width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 144, 14, 0.1);
    /* border: 2px solid black; */
}
.banner-container{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    max-width: 100%;
    margin: 0 auto;
}
.banner-content h3{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}
.banner-content p{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 2px solid black; */
    text-align: justify;
    font-size: 1.1rem;
    color: rgb(66, 66, 66);
}
.banner-img-container{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
}
.banner-img-container img{
    border-radius: 16px;
    max-width: 100%;
}

/* Quicklist Styles here */

.quick-list{
    max-width: 100%;
    /* height: 800px; */
    /* border: 2px solid black; */
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.quick-list-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 600px;
    /* height: 500px; */
    /* border: 3px solid black; */
}
.quick-list-img img{
    width: 100%;
    /* object-fit: contain; */
}
.quick-list-info{
    width: 600px;
    /* height: 500px; */
    /* border: 3px solid red; */
}
.quick-list-info h3{
    margin: 0 10px;
    font-size: 3rem;
}
.quick-list-description{
    /* letter-spacing: 3px; */
    font-size: 1rem;
    margin: 40px 0;
    color: rgb(114,114,114);
    text-align: justify;
}

/* Features Styles Here */

.feature{
    width: 1440px;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    margin: 80px auto;
    gap: 100px;
}
.feature-first{
    /* border: 2px solid steelblue; */
    margin-top: -50px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.feature-info h3{
    
    /* border: 3px solid green; */
}

.feature-cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* border: 3px solid red; */
}
.feature-cards .feature-card-bg{
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    /* border: 2px solid red; */
}
.feature-title{
    font-size: 1.6rem;
    color: rgb(19, 19, 19);
    font-weight: 600;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.feature-subtitle{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(114,114,114);
    text-align: justify;
    line-height: 24px;
}
.feature-img{
    /* border: 3px solid red; */
    position: relative;
}
.experience{
    width: 200px;
    height: 120px;
    background-color: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    margin-top: -70px;
    margin-left: -70px;
    
}
/* Small Devices Media Query */

@media screen and (max-width: 576px) {
    .navbar,
    .quick-list
    {
        flex-direction: column;
    }
    .navbar h3{
        font-size: 2.5rem;
    }
    .navbar-links{
        gap: 20px;
    }
    .navbar-list{
        margin-top: 20px;
        margin-left: 10px;
    }
    .banner-content h3{
        font-size: 3.5rem;
    }
    .banner-img-container{
        padding: 10px 14px;
    }
    .banner-img-container img{
        width: 100%;
        border-radius: 0px;
    }
    .quick-list{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .quick-list-img{
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .quick-list-info{
        width: 100%;
        margin-top: -20px;
    }
    .quick-list-description{
        width: 90%;
        /* margin: 0 auto; */
        /* height: 200px; */
        margin-left: 20px;
        margin-right: 50px;
        text-align: justify;
        font-size: 1.1rem;
        /* border: 2px solid black; */
        letter-spacing: 1px;
    }
    .quick-list-btn{ 
        margin: 0 140px;
        /* border: 2px solid black; */
    }
    
}

/* Medium Devices Media Query */

@media screen and (min-width: 576.1px) and (max-width: 992px) {
    .banner-img-container{
        padding: 10px 14px;
    }
    .banner-img-container img{
        width: 100%;
        border-radius: 0px;
    }
    .quick-list{
        flex-direction: column;
        margin-left: 20px;
    }
}